.cadastro__container{
    width: 100%;
    height: 95vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.cadastro__container img{
    padding-top: 20px;

}
.form__cadastro{
    width: 30%;
    height: 50%;
    color: var(--cor-linha-principal);
    display: flex;
    flex-direction: column;
    text-align: center;
}
.form__cadastro input{
    width: 80%;
    padding: 10px 0px;
    border: none;
    background-color: rgba(0,0,0,0);
    border-bottom: 1px solid var(--cor-linha-principal) ;
    font-family: var(--fonte);
    font-size: 16px; 


}
.form__cadastro input::placeholder{
    font-size: 16px; 

    color: var(--cor-linha-principal);
    font-family: var(--fonte);
}
.form__cadastro button{
    width: 80%;
    padding: 8px;
    border-radius: 5px;
    background-color: var(--cor-fonte);
    border: none;
}
.form__cadastro button:hover{
    cursor: pointer;
}
.form__cadastro a{
    padding-top: 30px;
    color: var(--cor-preto);
    text-decoration: none;
}
.form__cadastro__user{
    align-items: center;

    padding: 25px 0;
    display: flex;
    flex-direction: column;
    box-shadow: 6px 4px 16px  var(--cor-sombra-modal), -6px 6px 16px var(--cor-sombra-modal);
    height: 100%;
    border-radius: 20px;
    background-color: var(--cor-modal);
    
    gap: 30px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}